# required
TOKEN=
CLIENT_ID=

# Users
# You can use username and ids.
# Split with comma
# !IMPORTANT!: Please set developer username or id. DO NOT use "0" as a value.
# Example: developer=123456789012345678,987654321098765432
developer=
administrator=
trusted=
blacklist=

# logging webhooks
# (not implemented yet so u dont need set this now)
PERMISSION_ERROR=
